* {
    margin: 0;
    padding: 0;
}
/*HEADER*/
header {
    width:100%;
    height: 63px;
    background-color: #323232;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

li {
   color:#fff;
   font-family: Roboto; 
}

.li-content {
    margin: 26px 4px 22px 8px;
    font-size: 10px;
    
}

.logo {
    width:64px;
    margin: 11px 32px 0 33px;
}

.dot {
    color:#484c5f;
}

header:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 47px solid transparent;
    border-right: 50px solid transparent;
    border-top: 26px solid #323232;
    position: absolute;
    top: 63px;
    transform: traslateX(-50);
    margin: 0 auto;
}

.hr {
    justify-content: space-between;
    display: flex;
}

hr {
    color: #eaeaea;
    width: 40%;
    justify-content: space-between;
    opacity: 0.2;
}

.hr-right {
    margin-top: 11px;
    margin-right: 3.5%; 
}

.hr-left {
    margin-top: 11px;
    margin-left: 3.5% ;
}

a {
    text-decoration: none;
    color:#fff;
}

a:active {
    color: #488a7c;
}
/*END HEADER*/

/*PORTFOLIO*/

/*
.hexagon {
	width: 179px;
	height: 104px;
	background: red;
    position: relative;
    
    
}
.hexagon:before {
	content: "";
	position: absolute;;
	top: 0px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 91px solid #fff;
	border-right: 89px solid #fff;
    border-bottom: 51px solid transparent;
   
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -99px; 
	left: 0;
	width: 1px;
	height: 0;
	border-left: 90px solid #fff;
	border-right: 89px solid #fff;
    border-top: 51px solid transparent;
}

*/

.hexagon {
    width: 180px;
    height: 210px;
   /* margin: 5px;*/
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background-color: #2eb398;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;

}

.portfolio {
    width: 980px;
    margin-left: -3px;
    min-width: 980px;
    border-bottom: 1px solid rgba(234,234,234,0.5);
    padding-bottom: 74px;
    margin:0 auto;
}

.row-1 {
    display: flex;
    width: 780px;
    justify-content: space-between;
    position: relative;
    margin: 76px auto 0 auto;

}

.portfolio img{
    width: 179.7px;
    height: 203px;
   
}

.row-2 {
    display: flex;
    width: 979px;
    justify-content: space-between;
    position: relative;
    margin: -41px auto 0 auto;
}

.row-3 {
    display: flex;
    width: 780px;
    justify-content: space-between;
    position: relative;
    margin: -42px auto 0 auto;
    padding-left: 21px;
    padding-right: 21px;
    z-index: 25;
}

.row1-1 {
    background-image: url(assets/Layer\ 33.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row1-2 {
    background-image: url(assets/Layer\ 31.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row1-3 {
    background-image: url(assets/Layer\ 34.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row1-4 {
    background-image: url(assets/Layer\ 35.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row2-1 {
    background-image: url(assets/Layer\ 36.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row2-2 {
    background-image: url(assets/Layer\ 44.png);
    background-repeat: no-repeat;
    background-position: 50%;
}


.row2-3 {
    background-image: url(assets/Layer\ 37.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row2-4 {
    background-image: url(assets/Layer\ 38.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row2-5 {
    background-image: url(assets/Layer\ 39.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row3-1 {
    background-image: url(assets/Layer\ 40.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row3-2 {
    background-image: url(assets/Layer\ 41.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row3-3 {
    background-image: url(assets/Layer\ 43.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.row3-4 {
    background-image: url(assets/Layer\ 42.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.left-line {
    position: absolute;
    top: 50px;
    left: -21px;
    height: 103px;
    padding-left: 10px;
    border-left: 1px solid rgba(234, 234, 234, 0.5);
}

.right-line {
    position: absolute;
    top: 53px;
    right: -32px;
    height: 103px;
    padding-left: 10px;
    border-left: 1px solid rgba(234, 234, 234, 0.5);
}

.right-line-3 {
    position: absolute;
    top: 53px;
    right: -12px;
    height: 103px;
    padding-left: 10px;
    border-left: 1px solid rgba(234, 234, 234, 0.5);
}

.left-line-3 {
    position: absolute;
    top: 50px;
    left: 2px;
    height: 103px;
    padding-left: 10px;
    border-left: 1px solid rgba(234, 234, 234, 0.5);
}

/*END PORTFOLIO*/

/*ABOUT*/

#about {
    width: 100%;
    height: 341px;
    background-color: #2eb398;
    margin-top: 10px;
}

.pad {
    height: 13px;
}

.about-info {
    margin: 0 auto ;
    height: 316px;
    width: 820px;
    border-left: 1px solid rgba(0, 0, 0,0.1);
    border-right: 1px solid rgba(0, 0, 0,0.1);
    display: flex;
    font-family: Roboto; 
    flex-wrap: wrap;
    
}

.about-info img {
    height: 203px;
    width: 179px; 
}

.about-info .hexagon {
    margin-left: 21px;
    margin-top: 56px;
}

.about-info .hexagon:before{
    content: "";
	position: absolute;;
	top: 0px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 91px solid #2eb398;
	border-right: 89px solid #2eb398;
    border-bottom: 51px solid transparent;
   
}

.about-info .hexagon:after {
	content: "";
	position: absolute;
	bottom: -99px; 
	left: 0;
	width: 1px;
	height: 0;
	border-left: 90px solid #2eb398;
	border-right: 89px solid #2eb398;
    border-top: 51px solid transparent;
}

h1 {
    color: #fff;
    font-size: 22pt;
}

.p2 {
    color: rgba(0, 0, 0,0.3);
    font-size: 12pt;
    letter-spacing: 1px;
}

.text-about {
    color: rgba(254,254,254,0.6);
    font-size: 8pt;
    line-height: 21px;
    margin-top: 15px;
    width: 580px;
    height: 75px;
}

article {
    margin: 46px 0 0 19px;
}

.links {
    display: flex;
    margin-top: -54px;
    margin-left: 654px;
}

.links img {
    height: 24px;
    width: 25px;
}

.photo {
    background-image: url(assets/Image.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

/*END ABOUT*/

/*GET IN TOUCH*/

#get-in-touch {
    height: 565px;
    width: 100%;
    background-color: #323232;
}

.get-in-touch-wrap {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    height: 539px;
    margin:  auto ;
    width: 956px;
    display: flex;
}

.pad2 {
    height: 13px;
}

.form {
    width: 580px;
    margin: 44px 0 0 89px;
}

input {
    background-color: #454545;
    border: none;
    width: 580px;
    height: 37px;
}

#name {
    width: 580px;
    height: 37px;
    margin-top: 21px;
}

input::placeholder {
    
    color: rgba(255, 255, 255, 0.6);
    word-spacing: -1px;
    letter-spacing: -1px;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto;
    line-height: 40px;
    word-spacing: 0.5px;
    letter-spacing: -1px;
}

textarea {
    min-width: 580px;
    min-height: 150px;
    max-width: 580px;
    max-height: 200px;
    border: none;
    background-color: #454545;
    margin-top: 17px;
}

#email {
    margin-top: 17px;
}

#subject {
    margin-top: 17px;
}

.p11 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    font-family: roboto;
    word-spacing: 5px;
    margin-bottom: 1px;
}

.p12 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-family: roboto;
    word-spacing: 2px;
}

#submit {
    margin-top:12px;
    margin-left: 490px;
    width: 90px;
    background-color: #2eb398;
    color: #fff;
    font-size: 10px;
    font-weight: bold; 
}

.in-touch {
    margin: 116px 0 0 20px;
}

.in-touch p {
    color: rgba(255, 255, 255, 0.7);
    word-spacing: 8px;
    font-family: roboto;
    line-height: 19px;
    font-size: 12px;
    width: 185px;
    word-wrap: break-word;
}

#strong {
    color: rgba(255, 255, 255, 0.9);
}

.in-touch div img {
    position: relative;
    float: left;
    top: 5px;
}

.in-touch div p {
    margin: 0 0 0 24px;
    word-spacing: 1px;
}

.location {
    margin-top:33px;
}

.tel {
    margin-top:3px;
}

.em{
    margin-top:4px;
}

/*END GET IN TOUCH*/

/*FOOTER*/

footer {
    height: 40px;
    background-color: #222222;
}

footer p {
    color: #343434;
    font-size: 13px;
    margin-left: 27px;
}

footer div {
    height: 14px;
}

/*END FOOTER*/
